---
import Layout from '../layouts/BlogPost.astro';
import Test from '@/components/svgLine';
import SvgGraph from '@/components/svgGraph';
import WebAuthTest from '@/components/auth/startReg'
import LoginButton from '@/components/auth/authenticate';
import hero from '../content/images/blog-about.jpg';

---
<style>
.broider {
    border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAAAXNSR0IArs4c6QAAAcdJREFUeF7t27FOw0AURFHnsxFNGsRng+jINiNr7lPW8qVNPH57PGssSB6HP6jAA00z7BAULoGggsICcJwNFRQWgONsqKCwABxnQwWFBeA4GyooLADH2VBBYQE4zobuDvr99fz5P+PH53OrizY9H77Y6YHbQk3PJyi8gwTdDXTdQmlLrvfUdgum49v50nrW1+uGtgMnkLSgdHw7Xzq/oEGofSqxoQvw20HXC5624NktRL9/er66oYK+Cgi622OTDR1uKH3Pu1oevuWvBkDPKygsKujuoNPPee36p+fDGzo9sKDwc56ggrYduPfx+D303pyHn7GnC2BDYVFBBYUF4DgbKigsAMfZUEFhATjOhgoKC8BxeEP98x18hQQVFN2laNjftbGhcEPvHoc3VNC7C8Drt6G7g/pLCb5CggqK3vbQMJ9Dgf96tl9baW8R6fh2vrMbuG5oO3ACSQtKx7fzpfOvrwu6iLz9azVtA1LDUkPS8e186fx4Q9fAtMCzA9Lvn56v3vKCvgoICn/cUtDdQel73tXy8IZeDYCeV1BYVFBBYQE4zoYKCgvAcTZUUFgAjrOhgsICcJwNFRQWgONsqKCwABxnQ2HQX6UyQGSEWHdjAAAAAElFTkSuQmCC") 28 /  28px / 0 round;
    border-width:  28px;
    border-style:  solid;
}
.full-width {
	left: 50%;
	margin-left: -45vw;
	margin-right: -45vw;
	max-width: 90vw;
	position: relative;
	right: 50%;
	width: 100vw;
}


</style>
<Layout
	title="About Me"
	description=""
	pubDate={new Date('Jul 26 2025')}
	heroImage={hero}
>
	I'm Zane, at the moment I'm a student at Curtin University studying the Bachelour of Computing in Computer Science. I may put some things I'm interested in here.
<br>
<br>
<h3>
A lil' graphic
</h3>
<p>
Each dot represents a week. It goes on for ~80 years.
</p>
<div class="">
	<SvgGraph client:only="react" />
</div>
<p>
Fyi, the Average life expectancy here in Australia is 81
</p>
</Layout>
